In [1]:
import numpy as np
import pandas as pd
from functions import *
from read_from_file_df import *
import pickle
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [2]:
"""def read_file_to_df(pathFile, size):
    # Define the file path
    path_file = 'C:\\GameOfLife\\boards\\' + pathFile

    # Read binary data into a numpy array of 8-bit integers
    binary_data = np.fromfile(path_file, dtype=np.uint8)

    # Convert each integer to its binary representation
    binary_data_binary_repr = np.array([list(np.binary_repr(x, width=8)) for x in binary_data], dtype=np.uint8).flatten()

    # Calculate the total number of elements in each game board
    board_elements = size*size

    # Calculate the number of boards in the file
    num_boards = len(binary_data_binary_repr) // board_elements

    # Reshape the binary data to create a 3D array with dimensions (num_boards, board_size[0], board_size[1])
    boards_data = binary_data_binary_repr[:num_boards * board_elements].reshape((num_boards, size, size))
    
    # Create a list of column names based on the board size
    column_names = [f'({i},{j})' for i in range(size) for j in range(size)]

    return pd.DataFrame(boards_data.reshape((num_boards, board_elements)), columns=column_names)"""

"def read_file_to_df(pathFile, size):\n    # Define the file path\n    path_file = 'C:\\GameOfLife\\boards\\' + pathFile\n\n    # Read binary data into a numpy array of 8-bit integers\n    binary_data = np.fromfile(path_file, dtype=np.uint8)\n\n    # Convert each integer to its binary representation\n    binary_data_binary_repr = np.array([list(np.binary_repr(x, width=8)) for x in binary_data], dtype=np.uint8).flatten()\n\n    # Calculate the total number of elements in each game board\n    board_elements = size*size\n\n    # Calculate the number of boards in the file\n    num_boards = len(binary_data_binary_repr) // board_elements\n\n    # Reshape the binary data to create a 3D array with dimensions (num_boards, board_size[0], board_size[1])\n    boards_data = binary_data_binary_repr[:num_boards * board_elements].reshape((num_boards, size, size))\n    \n    # Create a list of column names based on the board size\n    column_names = [f'({i},{j})' for i in range(size) for j in range(size)]\n\n    return pd.DataFrame(boards_data.reshape((num_boards, board_elements)), columns=column_names)"

In [3]:
"""def split_board_to_series_df(size, amount_boards, amount_moves, num_dict, amount_board_in_series, ignore_range):
    new_columns = [f'Col_{i}' for i in range(1, amount_board_in_series * size*size + 1)]
    res_df = pd.DataFrame(columns=new_columns)

    for i in range(amount_boards):
        print_numbers(i)
        # path to read
        path_file = path(size, i, amount_moves, num_dict)
        # read the file
        df = read_file_to_df(path_file, size)
        #after we delete the repeat boards, we split the board to series
        if(len(df)>ignore_range):
            #df = df[ignore_range:].drop_duplicates()
            #for i in range(len(df) - amount_board_in_series + 1):
            #    new_row = df.iloc[i:i + amount_board_in_series].values.flatten()
            #    new_df.loc[len(new_df)] = new_row     
            df = df[ignore_range:].drop_duplicates().reset_index(drop=True)
            df1 = df.iloc[:-1].reset_index(drop=True)
            df2 = df[1:].reset_index(drop=True)
            new_df = pd.concat([df1, df2], axis=1, ignore_index=True)
            new_df.columns = new_columns
            
            res_df = pd.concat([res_df,new_df])
    return res_df
"""

"def split_board_to_series_df(size, amount_boards, amount_moves, num_dict, amount_board_in_series, ignore_range):\n    new_columns = [f'Col_{i}' for i in range(1, amount_board_in_series * size*size + 1)]\n    res_df = pd.DataFrame(columns=new_columns)\n\n    for i in range(amount_boards):\n        print_numbers(i)\n        # path to read\n        path_file = path(size, i, amount_moves, num_dict)\n        # read the file\n        df = read_file_to_df(path_file, size)\n        #after we delete the repeat boards, we split the board to series\n        if(len(df)>ignore_range):\n            #df = df[ignore_range:].drop_duplicates()\n            #for i in range(len(df) - amount_board_in_series + 1):\n            #    new_row = df.iloc[i:i + amount_board_in_series].values.flatten()\n            #    new_df.loc[len(new_df)] = new_row     \n            df = df[ignore_range:].drop_duplicates().reset_index(drop=True)\n            df1 = df.iloc[:-1].reset_index(drop=True)\n            df2 = df[1:].reset_index(drop=True)\n            new_df = pd.concat([df1, df2], axis=1, ignore_index=True)\n            new_df.columns = new_columns\n            \n            res_df = pd.concat([res_df,new_df])\n    return res_df\n"

In [82]:
tt = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': ['a', 'b', 'c', 'd'],
    'C': [5.5, 6.6, 7.7, 8.8],
    # Continue with other columns up to 'Y'
    'Y': ['y1', 'y2', 'y3', 'y4']
})

In [83]:
tt

   A  B    C   Y
0  1  a  5.5  y1
1  2  b  6.6  y2
2  3  c  7.7  y3
3  4  d  8.8  y4

In [87]:
new_row = pd.concat([tt]*2,axis=1)
new_row

   A  B    C   Y  A  B    C   Y
0  1  a  5.5  y1  1  a  5.5  y1
1  2  b  6.6  y2  2  b  6.6  y2
2  3  c  7.7  y3  3  c  7.7  y3
3  4  d  8.8  y4  4  d  8.8  y4

In [80]:
def split_board_to_series_df(size, amount_boards, amount_moves, num_dict, amount_board_in_series, ignore_range, reversed = False):
    new_columns = [f'Col_{i}' for i in range(1, amount_board_in_series * size*size + 1)]
    res_df = pd.DataFrame(columns=new_columns)

    for i in range(amount_boards):
        print_numbers(i)
        # path to read
        path_file = path(size, i, amount_moves, num_dict)
        # read the file
        df = read_file_to_df(path_file, size)
        #after we delete the repeat boards, we split the board to series
        if(len(df)>ignore_range):
            df = df[ignore_range:].drop_duplicates().reset_index(drop=True)
            if reversed == False:
                for i in range(len(df) - amount_board_in_series + 1):
                    df1 = df.iloc[i:i+amount_board_in_series].reset_index(drop=True)
                    new_row = pd.concat([df1]*amount_board_in_series,axis=1)
            else:
                for i in range(len(df) - amount_board_in_series + 1):
                    df1 = df.iloc[i+amount_board_in_series:i].reset_index(drop=True)
                    new_row = pd.concat([df1]*amount_board_in_series,axis=1)
            new_row.columns = new_columns
            res_df = pd.concat([res_df,new_row])
    return res_df

In [81]:
df = split_board_to_series_df(5, AMOUNT_BOARDS, AMOUNT_MOVES, NUM_DICT, 2, IGNORE_RANGE,False)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100
101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150
151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200
201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250
251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300
301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350
351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400
401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450
451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500
501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550
551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600
601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650
651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700
701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750
751 752 753 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800
801 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846 847 848 849 850
851 852 853 854 855 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899 900
901 902 903 904 905 906 907 908 909 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945 946 947 948 949 950
951 952 953 954 955 956 957 958 959 960 961 962 963 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998 999

In [79]:
df

Empty DataFrame
Columns: [Col_1, Col_2, Col_3, Col_4, Col_5, Col_6, Col_7, Col_8, Col_9, Col_10, Col_11, Col_12, Col_13, Col_14, Col_15, Col_16, Col_17, Col_18, Col_19, Col_20, Col_21, Col_22, Col_23, Col_24, Col_25, Col_26, Col_27, Col_28, Col_29, Col_30, Col_31, Col_32, Col_33, Col_34, Col_35, Col_36, Col_37, Col_38, Col_39, Col_40, Col_41, Col_42, Col_43, Col_44, Col_45, Col_46, Col_47, Col_48, Col_49, Col_50]
Index: []

[0 rows x 50 columns]

In [75]:
len(df)

0

In [6]:
df_drop = df.drop_duplicates().reset_index(drop=True)
len(df_drop)

29760

In [7]:
new_columns = [f'Col_{i}' for i in range(1, 50 + 1)]
df_sort = df_drop.sort_values(by = new_columns).reset_index(drop=True)

In [8]:
# Check the current data types of the DataFrame
print("Before Conversion:")
print(df_sort.dtypes)
print("\n")

for i in df_sort.columns:
    df_sort[i] = df_sort[i].astype(int)

# Check the data types after conversion
print("After Conversion:")
print(df_sort.dtypes)

Before Conversion:
Col_1     object
Col_2     object
Col_3     object
Col_4     object
Col_5     object
Col_6     object
Col_7     object
Col_8     object
Col_9     object
Col_10    object
Col_11    object
Col_12    object
Col_13    object
Col_14    object
Col_15    object
Col_16    object
Col_17    object
Col_18    object
Col_19    object
Col_20    object
Col_21    object
Col_22    object
Col_23    object
Col_24    object
Col_25    object
Col_26    object
Col_27    object
Col_28    object
Col_29    object
Col_30    object
Col_31    object
Col_32    object
Col_33    object
Col_34    object
Col_35    object
Col_36    object
Col_37    object
Col_38    object
Col_39    object
Col_40    object
Col_41    object
Col_42    object
Col_43    object
Col_44    object
Col_45    object
Col_46    object
Col_47    object
Col_48    object
Col_49    object
Col_50    object
dtype: object


After Conversion:
Col_1     int32
Col_2     int32
Col_3     int32
Col_4     int32
Col_5     int32
Col_6     int32
Col_7     int32
Col_8     int32
Col_9     int32
Col_10    int32
Col_11    int32
Col_12    int32
Col_13    int32
Col_14    int32
Col_15    int32
Col_16    int32
Col_17    int32
Col_18    int32
Col_19    int32
Col_20    int32
Col_21    int32
Col_22    int32
Col_23    int32
Col_24    int32
Col_25    int32
Col_26    int32
Col_27    int32
Col_28    int32
Col_29    int32
Col_30    int32
Col_31    int32
Col_32    int32
Col_33    int32
Col_34    int32
Col_35    int32
Col_36    int32
Col_37    int32
Col_38    int32
Col_39    int32
Col_40    int32
Col_41    int32
Col_42    int32
Col_43    int32
Col_44    int32
Col_45    int32
Col_46    int32
Col_47    int32
Col_48    int32
Col_49    int32
Col_50    int32
dtype: object

In [9]:
len(df_sort.columns)

50

In [13]:
amount_features = len(df_sort.columns) - SIZE*SIZE #the previous boards
features = df_sort.iloc[:, :amount_features]
for i in range(SIZE*SIZE): # to any pixel in the expected board
    name_col = 'Col_' + str(i+amount_features + 1)
    target = df_sort[name_col]
    X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.1, random_state=613)
    dt, node_count, max_depth, train_test_full_error  = dec_tree_df(X_train,y_train, X_test, y_test, 20, 42)
    name_file = f"decision_tree_df_model_pixel_{str(i+1)}.pkl"
    with open(name_file, 'wb') as file:
        pickle.dump(dt, file)
    print(i)
    print(node_count, max_depth)
    print(train_test_full_error)

0
1045 20
              train      test
accuracy   0.999963  0.992944
precision  1.000000  0.992577
recall     0.999884  0.985263
f1         0.999942  0.988906
1
1503 19
           train      test
accuracy     1.0  0.978831
precision    1.0  0.963580
recall       1.0  0.970650
f1           1.0  0.967102
2
947 17
           train      test
accuracy     1.0  0.995968
precision    1.0  0.991895
recall       1.0  0.995931
f1           1.0  0.993909
3
1013 20
              train      test
accuracy   0.999963  0.994288
precision  1.000000  0.987448
recall     0.999881  0.994731
f1         0.999941  0.991076
4
663 13
           train      test
accuracy     1.0  0.999328
precision    1.0  0.997890
recall       1.0  1.000000
f1           1.0  0.998944
5
617 11
           train  test
accuracy     1.0   1.0
precision    1.0   1.0
recall       1.0   1.0
f1           1.0   1.0
6
933 20
              train      test
accuracy   0.999925  0.992272
precision  1.000000  0.989418
recall     0.999769  0.986287
f1         0.999885  0.987850
7
721 16
           train      test
accuracy     1.0  0.998320
precision    1.0  0.995838
recall       1.0  0.998956
f1           1.0  0.997394
8
1019 19
           train      test
accuracy     1.0  0.993952
precision    1.0  0.991416
recall       1.0  0.989293
f1           1.0  0.990354
9
1009 20
           train      test
accuracy     1.0  0.989919
precision    1.0  0.990323
recall       1.0  0.977707
f1           1.0  0.983974
10
895 19
           train      test
accuracy     1.0  0.995632
precision    1.0  0.994530
recall       1.0  0.991276
f1           1.0  0.992900
11
1017 19
           train      test
accuracy     1.0  0.992608
precision    1.0  0.987368
recall       1.0  0.989451
f1           1.0  0.988409
12
867 17
           train      test
accuracy     1.0  0.992272
precision    1.0  0.989429
recall       1.0  0.986301
f1           1.0  0.987863
13
1651 20
           train      test
accuracy     1.0  0.987903
precision    1.0  0.980583
recall       1.0  0.980583
f1           1.0  0.980583
14
1219 19
           train      test
accuracy     1.0  0.989583
precision    1.0  0.983069
recall       1.0  0.984110
f1           1.0  0.983589
15
971 18
           train      test
accuracy     1.0  0.992608
precision    1.0  0.989373
recall       1.0  0.987275
f1           1.0  0.988323
16
737 17
           train      test
accuracy     1.0  0.999328
precision    1.0  1.000000
recall       1.0  0.997768
f1           1.0  0.998883
17
1241 18
           train      test
accuracy     1.0  0.985215
precision    1.0  0.973795
recall       1.0  0.979958
f1           1.0  0.976866
18
1245 20
           train      test
accuracy     1.0  0.988239
precision    1.0  0.983105
recall       1.0  0.980000
f1           1.0  0.981550
19
1287 20
              train      test
accuracy   0.999888  0.984543
precision  0.999882  0.974619
recall     0.999763  0.978593
f1         0.999822  0.976602
20
911 17
           train      test
accuracy     1.0  0.993616
precision    1.0  0.989744
recall       1.0  0.990760
f1           1.0  0.990251
21
865 17
           train      test
accuracy     1.0  0.994288
precision    1.0  0.990260
recall       1.0  0.991333
f1           1.0  0.990796
22
893 17
           train      test
accuracy     1.0  0.992944
precision    1.0  0.990835
recall       1.0  0.987817
f1           1.0  0.989324
23
1043 18
           train      test
accuracy     1.0  0.992272
precision    1.0  0.988285
recall       1.0  0.987234
f1           1.0  0.987759
24
877 16
           train      test
accuracy     1.0  0.994624
precision    1.0  0.989744
recall       1.0  0.993821
f1           1.0  0.991778

In [14]:
# Step 1: Prepare Data
features = df_sort.iloc[:, :25]  # Features: first 25 pitchers - the previous board
target = df_sort['Col_26']  # Target: the first pixel in the board
#print(features)
#print(target.dtype)
# Step 2: Split Data
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.1, random_state=365)

print("len x train: ", len(X_train))
print("len x test: ",len(X_test))
print("len y train: ",len(y_train))
print("len y test: ",len(y_test))

dt = tree.DecisionTreeClassifier(random_state=42)
dt = dt.fit(X_train, y_train)

y_train_pred = dt.predict(X_train)
y_test_pred = dt.predict(X_test)

train_test_full_error = pd.concat([measure_error(y_train, y_train_pred, 'train'),
                                measure_error(y_test, y_test_pred, 'test')],
                                axis=1)

print(dt.tree_.node_count, dt.tree_.max_depth)
train_test_full_error

len x train:  26784
len x test:  2976
len y train:  26784
len y test:  2976
639 12

           train  test
accuracy     1.0   1.0
precision    1.0   1.0
recall       1.0   1.0
f1           1.0   1.0

In [15]:
depth_to_check = [4,5,6,7,8,9,10,15,20,30,50,100]

for i in depth_to_check:
    dt, node_count, max_depth, train_test_full_error  = dec_tree_df(X_train,y_train, X_test, y_test, i, 42)
    
    name_file = f"decision_tree_df_model_{str(i)}.pkl"
    with open(name_file, 'wb') as file:
        pickle.dump(dt, file)
    
    print(node_count, max_depth)
    print(train_test_full_error)

31 4
              train      test
accuracy   0.725956  0.737567
precision  0.601863  0.612551
recall     0.447989  0.474630
f1         0.513650  0.534842
63 5
              train      test
accuracy   0.734058  0.746976
precision  0.670305  0.694165
recall     0.347781  0.364693
f1         0.457956  0.478170
123 6
              train      test
accuracy   0.763217  0.775874
precision  0.679851  0.690834
recall     0.504623  0.533827
f1         0.579276  0.602266
227 7
              train      test
accuracy   0.794093  0.805780
precision  0.692430  0.699134
recall     0.652335  0.682875
f1         0.671785  0.690909
393 8
              train      test
accuracy   0.872760  0.861223
precision  0.803753  0.777894
recall     0.801896  0.788584
f1         0.802823  0.783202
597 9
              train      test
accuracy   0.992981  0.993280
precision  0.983215  0.987368
recall     0.995261  0.991543
f1         0.989202  0.989451
621 10
              train      test
accuracy   0.996154  0.997312
precision  0.993306  0.995772
recall     0.994799  0.995772
f1         0.994052  0.995772
639 12
           train  test
accuracy     1.0   1.0
precision    1.0   1.0
recall       1.0   1.0
f1           1.0   1.0
639 12
           train  test
accuracy     1.0   1.0
precision    1.0   1.0
recall       1.0   1.0
f1           1.0   1.0
639 12
           train  test
accuracy     1.0   1.0
precision    1.0   1.0
recall       1.0   1.0
f1           1.0   1.0
639 12
           train  test
accuracy     1.0   1.0
precision    1.0   1.0
recall       1.0   1.0
f1           1.0   1.0
639 12
           train  test
accuracy     1.0   1.0
precision    1.0   1.0
recall       1.0   1.0
f1           1.0   1.0

In [16]:
"""def split_one_board_to_series_df(size, amount_moves, num_dict, amount_board_in_series, i, ignore_range):
    print_numbers(i)
    # path to read
    path_file = path(size, i, amount_moves, num_dict)
    # read the file
    df = read_file_to_df(path_file, size)
    #after we delete the repeat boards, we split the board to series
    if(len(df)>ignore_range):
        df = df[ignore_range:]
        df = df.drop_duplicates().reset_index(drop=True)
        df1 = df.iloc[:-1].reset_index(drop=True)
        df2 = df[1:].reset_index(drop=True)
        new_df = pd.concat([df1, df2], axis=1, ignore_index=True)
        new_columns = [f'Col_{i}' for i in range(1, amount_board_in_series * size*size + 1)]
        new_df.columns = new_columns
    return new_df"""

"def split_one_board_to_series_df(size, amount_moves, num_dict, amount_board_in_series, i, ignore_range):\n    print_numbers(i)\n    # path to read\n    path_file = path(size, i, amount_moves, num_dict)\n    # read the file\n    df = read_file_to_df(path_file, size)\n    #after we delete the repeat boards, we split the board to series\n    if(len(df)>ignore_range):\n        df = df[ignore_range:]\n        df = df.drop_duplicates().reset_index(drop=True)\n        df1 = df.iloc[:-1].reset_index(drop=True)\n        df2 = df[1:].reset_index(drop=True)\n        new_df = pd.concat([df1, df2], axis=1, ignore_index=True)\n        new_columns = [f'Col_{i}' for i in range(1, amount_board_in_series * size*size + 1)]\n        new_df.columns = new_columns\n    return new_df"

In [17]:
#small_df = split_one_board_to_series_df(5, AMOUNT_MOVES, NUM_DICT,2, 73, 0)

In [18]:
#small_df.values