# second attempt - reverse prediction with radii

In [1]:
import numpy as np
import pandas as pd
from functions import *
from read_from_file_df import *
import pickle
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [2]:
gen = 3
name_df = f'{SIZE}size_{AMOUNT_BOARDS}boards_{gen}gen_reverse'
reverse_df = pd.read_pickle(f'{name_df}.pkl')

In [3]:
reverse_df

,Col_1,Col_2,Col_3,Col_4,Col_5,Col_6,Col_7,Col_8,Col_9,Col_10,...,Col_66,Col_67,Col_68,Col_69,Col_70,Col_71,Col_72,Col_73,Col_74,Col_75
0,0,0,0,0,1,1,0,0,0,0,...,0,1,1,0,0,0,1,1,1,1
1,1,0,0,0,1,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
2,0,0,0,1,1,0,0,0,0,0,...,1,0,1,1,0,1,0,1,1,1
3,0,0,0,1,1,0,0,0,0,0,...,1,0,1,0,0,1,0,1,0,0
4,1,0,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28491,1,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,1,0,0,0,0
28492,1,0,1,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
28493,0,0,1,1,0,0,0,1,1,0,...,0,1,0,0,0,1,1,0,0,0
28494,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
28495,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,1,0,0,1

In [4]:
def find_loc(pixel, size):
    pixel = pixel-1
    x = pixel // size
    y = pixel % size
    return (x,y)

In [10]:
pixel = 17
radii = 1
loc = find_loc(pixel, SIZE)
print(loc)

(3, 1)

In [11]:
M = generate_twice_tuples(radii)

In [ ]:
reverse_df['Result'] = reverse_df.apply(lambda row: calc_neighs(row[:25],loc[0], loc[1]), axis=1)